/* ============================================================ */
/* お問い合わせページ */
.mainVisual.-pageContact {
  height: 80vh;
  background-image: url(../img/programming-04.jpg);
}
.mainVisual.-pageContact::after {
  background-color: #040831;
  opacity: 0.7;
  z-index: 200;
}
.mainVisual.-pageContact__thanks {
  height: 80vh;
  background-image: url(../img/programming-04.jpg);
}
.mainVisual.-pageContact__thanks::after {
  background-color: #040831;
  opacity: 0.7;
  z-index: 200;
}
.pageContact__title {
  position: relative;
  font-family: cursive;
  font-size: 9rem;
  color: #fff;
  letter-spacing: 0.1em;
  top: 40%;
  text-align: center;
  z-index: 3000;
  text-shadow: 2px 2px 2px #000;
}
.pageContact__title::after {
  position: absolute;
  content: "お問い合わせ";
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.1em;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}
.pageContact__title.-thanks::after {
  position: absolute;
  content: "お問い合わせ完了";
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.1em;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}
/* お問い合わせフォーム */
.pageContact,
.pageContact__thanks {
  padding: 10rem 0 10rem;
}
.pageContact__content,
.pageContact__thanksContent {
  width: 80%;
  margin: auto;
  border: 2px solid #ddd;
  padding: 10rem 3rem;
  border-radius: 10px;
}
.pageContact__contentInner {
  width: 80%;
  margin: auto;
}
.pageContact__contentName,
.pageContact__contentEmail,
.pageContact__contentTitle {
  font-size: 2rem;
}
.pageContact__contentName span,
.pageContact__contentEmail span,
.pageContact__contentTitle span {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: #ff0000;
}
.pageContact__contentInput {
  width: 100%;
  font-size: 2rem;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.5rem 0;
  padding-left: 0.5rem;
  margin-left: -0.2rem;
  background: rgba(8, 142, 225, 0.1);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.pageContact__contentText {
  width: 100%;
  font-size: 2rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: -0.2rem;
  padding: 1rem 0;
  padding-left: 0.5rem;
  background: rgba(8, 142, 225, 0.1);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  resize: none;
}
.pageContact__contentSubmit {
  display: block;
  width: 25%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff6600;
  letter-spacing: 0.1em;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
.pageContact__contentSubmit:hover {
  opacity: 0.8;
}
.wpcf7-response-output {
  font-size: 1.8rem;
  color: #ff0000;
  padding: 0.2em 0 !important;
  border: none !important;
  margin-top: 0 !important;
}

/* お問い合わせ完了ページ */
.pageContact__thanksInner {
  padding-right: 1rem;
  padding-left: 1rem;
}
.pageContact__thanksTitle {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8rem;
}
.pageContact__thanksText {
  font-size: 2rem;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 5rem;
}
.pageContact__backButton {
  display: block;
  width: 25%;
  font-size: 1.8rem;
  padding: 1.2rem 2rem;
  color: #fff;
  background-color: #088ee1;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  margin-top: 7rem;
}
.pageContact__backButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .pageContact__title,
  .pageContact__title.-thanks {
    font-size: 8rem;
  }
  .pageContact__title::after,
  .pageContact__title.-thanks::after {
    font-size: 2.4rem;
    bottom: -4rem;
  }
  .pageContact__thanksTitle {
    font-size: 2.4rem;
    margin-bottom: 6rem;
  }
  .pageContact__thanksText {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .pageContact__content,
  .pageContact__thanksContent {
    padding: 7rem 0;
  }
  .pageContact__contentInner {
    width: 85%;
  }
  .pageContact__contentSubmit {
    font-size: 1.6rem;
  }
  .pageContact__backButton {
    width: 30%;
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .pageContact__title,
  .pageContact__title.-thanks {
    font-size: 6rem;
  }
  .pageContact__title::after,
  .pageContact__title.-thanks::after {
    font-size: 2.2rem;
    bottom: -3rem;
  }
  .pageContact__content,
  .pageContact__thanksContent {
    width: 90%;
  }
  .pageContact__thanksTitle {
    font-size: 2.2rem;
    margin-bottom: 6rem;
  }
  .pageContact__thanksText {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .pageContact__contentInner {
    width: 90%;
  }
  .pageContact__contentName,
  .pageContact__contentEmail,
  .pageContact__contentTitle {
    font-size: 1.6rem;
  }
  .pageContact__contentName span,
  .pageContact__contentEmail span,
  .pageContact__contentTitle span {
    font-size: 1.2rem;
  }
  .pageContact__content {
    padding: 7rem 0 4rem;
  }
  .pageContact__contentSubmit {
    width: 30%;
    font-size: 1.4rem;
  }
  .wpcf7-response-output {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  .pageContact__backButton {
    width: 40%;
    font-size: 1.4rem;
    margin-top: 5rem;
  }
}
@media (max-width: 480px) {
  .pageContact,
  .pageContact__thanks {
    padding: 5rem 0 5rem;
  }
  .pageContact__title,
  .pageContact__title -thanks {
    font-size: 5rem;
  }
  .pageContact__title::after,
  .pageContact__title.-thanks::after {
    font-size: 1.8rem;
    bottom: -3rem;
  }
  .pageContact__content,
  .pageContact__thanksContent {
    width: 100%;
    padding: 5rem 0 4rem;
  }
  .pageContact__thanksText {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    text-align: left;
  }
  .pageContact__contentName,
  .pageContact__contentEmail,
  .pageContact__contentTitle {
    font-size: 1.4rem;
  }
  .pageContact__contentName span,
  .pageContact__contentEmail span,
  .pageContact__contentTitle span {
    font-size: 1.1rem;
  }
  .pageContact__contentSubmit {
    width: 40%;
    font-size: 1.2rem;
  }
  .wpcf7-response-output {
    font-size: 1.2rem;
  }
  .pageContact__backButton {
    width: 40%;
    font-size: 1.2rem;
    margin-top: 3rem;
  }
}
