/* ============================================================ */
/* 共通パーツ */
/* インナー */
.inner {
  max-width: 1180px;
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .inner {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
}
@media (max-width: 480px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/* ============================================================ */
/* トップページ */
/* メインビジュアル */
.mainVisual {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/programming-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
}
.mainVisual::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040831;
  opacity: 0.6;
  z-index: 200;
}
.mainVisual__topTitle {
  position: absolute;
  font-family: cursive;
  font-size: 9rem;
  color: #fff;
  letter-spacing: 0.15em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3000;
  text-shadow: 2px 2px 2px #000;
}
@media (max-width: 1024px) {
  .mainVisual__topTitle {
    font-size: 8rem;
  }
  .mainVisual {
    height: 80vh;
  }
}
@media (max-width: 768px) {
  .mainVisual__topTitle {
    font-size: 7rem;
  }
}
@media (max-width: 480px) {
  .mainVisual__topTitle {
    font-size: 5rem;
  }
}

/* ============================================================ */
/* 制作一覧 */
.works {
  padding: 15rem 0 10rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.works::before {
  width: 100%;
  position: absolute;
  display: inline-block;
  content: "Works 制作一覧　Web Site　Web Application　Corporate Site Works 制作一覧  Web Site Web Application Corporate Site Works 制作一覧  Web Site Web Application Corporate Site";
  font-size: 9rem;
  font-weight: bold;
  color: #fff;
  top: 2rem;
  text-align: center;
  -webkit-text-stroke: 1px #87cefa; /* 文字の外側の線を黒に設定 */
  background-color: transparent; /* 背景色を透明に設定 */
  z-index: -1;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}
@keyframes marquee {
  0% {
    left: 10%;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.worksTitle {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 14rem;
}
.worksTitle::before {
  content: "";
  width: 10%;
  height: 1px;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  position: absolute;
}
.worksTitle::after {
  font-size: 2.4rem;
  content: "制作実績";
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}

/* タブ切り替え */
.worksTabs {
  display: flex;
}
.worksTabs__button {
  font-size: 2rem;
  border: none;
  padding: 1rem 2.5rem;
  margin-right: 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}
.worksTabs__button.active {
  background-color: #088ee1;
  color: #fff;
}

.worksTab__content {
  display: none;
  border: 1px solid #ddd;
  padding: 4rem 3rem 8rem 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.worksTab__content.-originalWorks {
  display: none;
}
.worksTab__content.-originalWebSite {
  display: none;
}
.worksTab__content.active {
  display: block;
}

.worksList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.worksList__item {
  text-wrap: wrap;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: auto;
  padding-bottom: 2rem;
  overflow: hidden;
}
.worksList__item a:hover {
  opacity: 0.7;
}
.worksList__itemLink {
  display: block;
  width: 100%;
  height: auto;
}
.worksList__itemImg {
  width: 100%;
  height: auto;
  aspect-ratio: 200/100;
  object-fit: cover;
  transition: all 0.3s;
  margin-bottom: 2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.worksList__itemImg:hover {
  transform: scale(1.05);
}

.worksList__itemTitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.1em;
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}
.worksList__categoryFlex {
  display: flex;
  flex-wrap: wrap;
}
.worksList__itemCategory {
  display: inline;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  color: #fff;
  background-color: #088ee1;
  border-radius: 20px;
  margin-left: 1rem;
}
.worksList__tagList {
  margin-top: 2.5rem;
  margin-left: 1rem;
}
.worksList__tagItem {
  color: #fff;
  font-size: 1rem;
  background-color: #ff6600;
  padding: 0.3rem 2rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}
.worksList__itemButton {
  font-size: 1.3rem;
  color: #088ee1;
  margin-top: 4rem;
  text-align: right;
  margin-right: 5rem;
  position: relative;
  transition: all 0.3s;
}
.worksList__itemButton::before {
  display: block;
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  right: -2rem;
  top: 49%;
  background: #088ee1;
  transform: rotate(45deg);
}
.worksList__itemButton::after {
  display: block;
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1px;
  right: -1.2rem;
  top: 58%;
  background: #088ee1;
  transform: translate(50%, 50%);
}
.worksList__itemButton:hover {
  font-size: 1.4rem;
}

/* ============================================================ */
/* 制作一覧ページ */
.mainVisual.-worksArchive {
  height: 80vh;
  background-image: url(../img/programming-04.jpg);
}
.mainVisual.-worksArchive::after {
  background-color: #040831;
  opacity: 0.7;
  z-index: 200;
}

/* ============================================================ */
/* スキル */
.skills {
  padding: 15rem 0 0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.skills::before {
  width: 100%;
  position: absolute;
  display: inline-block;
  content: "FrontEnd　BackEnd　Web Design　GitHub　Docker　Sever　FrontEnd　BackEnd　Web Design　GitHub　Docker　Sever";
  font-size: 9rem;
  font-weight: bold;
  color: #fff;
  top: 2rem;
  text-align: center;
  -webkit-text-stroke: 1px #87cefa; /* 文字の外側の線を黒に設定 */
  background-color: transparent; /* 背景色を透明に設定 */
  z-index: -1;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}

.skillsTitle {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 15rem;
}
.skillsTitle::before {
  content: "";
  width: 10%;
  height: 1px;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  position: absolute;
}
.skillsTitle::after {
  font-size: 2.4rem;
  content: "スキル";
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}
.skillsCategory {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1),
    rgba(128, 128, 128, 1),
    rgba(0, 0, 0, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.1em;
  position: relative;
  opacity: 0.8;
  margin-bottom: 7rem;
}

.skillsCategory::after {
  font-size: 1.4rem;
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1),
    rgba(128, 128, 128, 1),
    rgba(0, 0, 0, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.skillsCategory.-frontEnd::after {
  content: "フロントエンド";
}
.skillsCategory.-backEnd::after {
  content: "バックエンド";
}
.skillsCategory.-others::after {
  content: "システム・その他";
}
.skillsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  border-bottom: 2px solid #eee;
  margin-bottom: 5rem;
  gap: 3rem;
}
.skillsList:last-child {
  margin-bottom: 0;
}
.skillsList__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 3rem;
}
.skillsList__itemImg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  aspect-ratio: 60/60;
  margin-bottom: 2rem;
}

.skillsList__itemText {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}
/* ============================================================ */
/* 自己紹介 */
.profile {
  padding: 10rem 0 15rem;
}
.profileTitle {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 15rem;
}
.profileTitle::before {
  content: "";
  width: 10%;
  height: 1px;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  position: absolute;
}
.profileTitle::after {
  font-size: 2.4rem;
  content: "プロフィール";
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}
.profileName__flex {
  display: flex;
  align-items: center;
}
.profileName {
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  text-align: center;
}
.profileName.-english {
  display: block;
  color: #333;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
}
.profile__github {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.profile__githubImg {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin: auto;
}
.profile__githubImg:hover {
  opacity: 0.7;
}
.profileText__wrap {
  padding: 1rem;
  border: 2px solid #ff9933;
}
.profileText__ouline {
  border: 2px solid #ff7f33;
  padding: 5rem;
}
.profileText {
  color: #333;
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  word-break: break-word;
}
.profileText span {
  font-weight: bold;
  background-color: #fffb80;
  padding: 0.2rem;
}
/* ============================================================ */
/* お問い合わせ */
.contact {
  width: 100%;
  height: 50rem;
  position: relative;
  background-image: url(../img/programming-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 100;
}
.contact::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040831;
  opacity: 0.6;
  z-index: 200;
}
.contactWrap {
  width: 80%;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}
.contactOutline {
  border: 1px solid #ddd;
  padding: 5rem 0;
}
.contactTitle {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 10rem;
}
.contactTitle::before {
  content: "";
  width: 10%;
  height: 1px;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  position: absolute;
}
.contactTitle::after {
  font-size: 2.4rem;
  content: "お問い合わせ";
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}
.contactButton {
  width: 23%;
  font-size: 1.6rem;
  display: block;
  color: #fff;
  text-align: center;
  background-color: #088ee1;
  padding: 1.2rem 4rem;
  margin: auto;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.contactButton:hover {
  opacity: 0.7;
}

/* ============================================================ */
/* 制作一覧・スキル・お問い合わせ レスポンシブ */
/* ============================================================ */
@media (max-width: 1024px) {
  .works::before,
  .skills::before {
    font-size: 8rem;
  }
  .worksTitle,
  .skillsTitle,
  .profileTitle,
  .contactTitle {
    font-size: 6rem;
  }
  .skillsTitle {
    margin-bottom: 12rem;
  }
  .profile {
    padding: 8rem 0 10rem;
  }
  .profileTitle {
    margin-bottom: 10rem;
  }
  .worksTitle::before,
  .skillsTitle::before,
  .profileTitle::before,
  .contactTitle::before {
    width: 15%;
    bottom: -1.5rem;
  }
  .worksTitle::after,
  .skillsTitle::after,
  .profileTitle::after,
  .contactTitle::after {
    font-size: 2.2rem;
    bottom: -5rem;
  }

  .profile__githubImg {
    width: 5rem;
    height: 5rem;
  }
  .worksTab__content {
    padding: 4rem 2rem 8rem 2rem;
  }
  .worksList__itemTitle {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .skillsList__itemText {
    font-size: 2.2rem;
  }
  .worksList__tagList {
    margin-top: 1.5rem;
  }
  .worksList__itemButton {
    margin-top: 3rem;
  }
  .worksList__itemCategory {
    margin-bottom: 0.5rem;
  }
  .contactButton {
    width: 30%;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .works,
  .skills {
    padding: 12rem 0 5rem;
  }
  .skills {
    padding-bottom: 0;
  }
  .worksTitle,
  .skillsTitle,
  .profileTitle,
  .contactTitle {
    font-size: 5rem;
  }
  .worksTitle::before,
  .skillsTitle::before,
  .profileTitle::before,
  .contactTitle::before {
    width: 15%;
    bottom: -1.5rem;
  }
  .worksTitle::after,
  .skillsTitle::after,
  .profileTitle::after,
  .contactTitle::after {
    font-size: 1.8rem;
    bottom: -4.5rem;
  }
  .worksTitle {
    margin-bottom: 10rem;
  }
  .worksTabs__button {
    font-size: 1.6rem;
  }
  .worksTab__content {
    padding: 3rem 2rem 6rem 2rem;
  }
  .profileName {
    font-size: 3rem;
  }
  .profile__githubImg {
    width: 4rem;
    height: 4rem;
  }
  .profileName.-english {
    font-size: 2.5rem;
  }
  .profileText__ouline {
    padding: 4rem;
  }
  .profileText {
    font-size: 1.6rem;
  }
  .skillsCategory {
    font-size: 3rem;
  }
  .skillsList {
    gap: 1rem;
  }
  .skillsList__itemImg {
    width: 60px;
    height: 60px;
    aspect-ratio: 60/60;
  }
  .worksList__itemTitle {
    font-size: 1.3rem;
  }
  .worksList {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .contactButton {
    font-size: 1.2rem;
    width: 35%;
  }
}
@media (max-width: 480px) {
  .works,
  .skills {
    padding: 10rem 0 5rem;
  }
  .skills {
    padding-bottom: 0;
  }
  .works::before,
  .skills::before {
    font-size: 5rem;
  }
  .worksTitle,
  .skillsTitle,
  .profileTitle,
  .contactTitle {
    font-size: 4rem;
  }
  .skillsTitle {
    margin-bottom: 10rem;
  }
  .worksTitle::before,
  .skillsTitle::before,
  .profileTitle::before,
  .contactTitle::before {
    width: 20%;
    bottom: -1.5rem;
  }
  .worksTitle::after,
  .skillsTitle::after,
  .profileTitle::after,
  .contactTitle::after {
    font-size: 1.6rem;
  }
  .worksTabs__button {
    font-size: 1.4rem;
  }
  .worksList__itemTitle {
    font-size: 1.6rem;
  }
  .worksTab__content {
    padding: 3rem 1rem 6rem 1rem;
  }
  .worksList {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .profileTitle {
    margin-bottom: 8rem;
  }
  .profileName {
    font-size: 2rem;
  }
  .profileName.-english {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .profile__github {
    margin-bottom: 3rem;
  }
  .profile__githubImg {
    width: 3rem;
    height: 3rem;
  }
  .profileText__wrap {
    padding: 0.5rem;
  }
  .profileText__ouline {
    padding: 2rem;
  }
  .profileText {
    font-size: 1.4rem;
  }
  .skillsCategory {
    font-size: 2.4rem;
    margin-bottom: 7rem;
  }
  .skillsCategory::after {
    font-size: 1.2rem;
  }
  .skillsList {
    padding-bottom: 3rem;
  }
  .skillsList__item {
    height: 120px;
    margin-bottom: 1rem;
  }
  .skillsList__itemImg {
    width: 50px;
    height: 50px;
    aspect-ratio: 50/50;
  }
  .skillsList__itemText {
    font-size: 1.6rem;
  }
  .worksList__itemCategory {
    font-size: 1.2rem;
  }
  .worksList__tagItem {
    font-size: 1.2rem;
  }
  .contactButton {
    font-size: 1rem;
    width: 40%;
  }
}
/* ============================================================ */
